---
- name: Vector | Configure vector to link to clickhouse
  become: true
  ansible.builtin.template:
    src: "vector.server.j2"
    dest: "/etc/vector/vector.yaml"
  # owner: root
  # group: root
  # mode: '0644'
  notify: restart-vector
  tags: [vector, config]

